body {
  font-family: 'oxfam_tstar_proregular', 'Arial', sans-serif;
  margin: 0;
  min-height: 100%;
  overflow-x: none;
}

.clearBoth {
  clear: Both;
}


/***********

header

***********/

header {
  width: 100%;
  height: 70px;
  z-index: 1000;
  position: fixed;
}

header p {
  padding-top: 13px;
}

header img {
  margin-left: 50px;
  width: 60px;
  float: left;
}

header span {
  color: #cd110f;
  font-size: 12px;
  display: block;
  margin-top: 20px;
  float: left;
  line-height: 14px;
}

.bgBlank {
  background: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
}


/***********

Menu

***********/

header .menuNormal {
  list-style: none;
  text-align: left;
  margin-top: 20px;
}

header .menuNormal > li {
  display: inline-block;
  float: right;
}

header .menuNormal > li > a {
  color: #cf1715;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 50px;
  font-size: 16px;
  transition: all ease 0.3s;
  text-decoration: none;
}

header .menuNormal > li:hover > a {
  font-weight: 700;
}

header .menuNormal > li:hover {
  text-decoration: none;
}

header .menuNormal > li > ul {
  display: none;
  list-style-type: none;
  text-align: left;
  transition: all ease 0.3s;
  background-color: #ffffff;
  padding: 10px;
  margin-left: -50px;
  border-radius: 0px 0px 8px 8px;
  padding-bottom: 10px;
  text-align: center;
}

header .menuNormal > li:hover > ul {
  display: block;
}

.sousMenu li {
  padding: 5px 0;
}

.sousMenu li a {
  text-decoration: none;
  color: #cf1715;
}

.sousMenu li a:hover {
  font-weight: 700;
}


/********

menu burger

*********/

.menuBurger {
  display: none;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 14px;
  position: absolute;
  z-index: 2;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 6px;
  position: absolute;
  z-index: 2;
}

.navbar-toggle .icon-bar {
  position: relative;
  top: -2px;
  transition: all 250ms ease-in-out;
  z-index: 2;
  background: color
}

.menuBurger:hover .icon-bar:nth-of-type(1) {
  top: -10px;
  transform: rotate(45deg);
}

.menuBurger:hover .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.menuBurger:hover .icon-bar:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}

.menuBurger:hover .navbar-inverse .navbar-toggle {
  border-color: white;
  background-color: transparent;
  z-index: 2;
}

.navbar-inverse .navbar-toggle {
  border: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #cf1715;
}

@media screen and (max-width:900px) {
  .citation {
    display: none;
  }
}

@media screen and (max-width:767px) {
  .menuNormal {
    display: none;
  }
  .menuBurger {
    list-style: none;
    display: block;
    margin-top: -8px;
  }
  .menuBurger:hover > li > ul {
    display: block;
    animation-name: slideMenu;
    width: 50%;
    animation-duration: 1s;
  }
  .menuBurger > li > ul {
    position: absolute;
    list-style: none;
    top: 0;
    right: 0;
    display: none;
    height: auto;
    background-color: #ffffff;
    padding-top: 50px;
    border-radius: 0px 0px 0px 8px;
    padding-bottom: 10px;
  }
  .menuBurger > li > ul > li {
    padding: 10px 0;
    transition: all 0.5s ease-in-out;
  }
  .menuBurger > li > ul > li > a {
    color: #cf1715;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
  .menuBurger > li > ul > li:hover > a {
    font-weight: 700;
  }
  .menuBurger > li > ul > li > ul {
    padding-bottom: 10px;
    padding-left: 2px;
    margin: 0;
    display: none;
  }
  .menuBurger > li > ul > li:hover > ul {
    display: block;
    list-style: none;
  }
  .menuBurger > li > ul > li > ul > li > a {
    color: #cf1715;
  }
  .menuBurger > li > ul > li > ul > li {
    padding-top: 15px;
  }
  .menuBurger > li > ul > li > ul > li:hover > a {
    font-weight: 700;
  }
}

@keyframes slideMenu {
  from {
    margin-right: -10%;
    width: 0%;
  }
  to {
    margin-right: 0;
    width: 50%;
  }
}


/***********

acceuil

***********/

.acceuil {
  z-index: 20;
  background: #FFC393;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  color: #ffffff;
}

.acceuil .titres h1 {
  font-weight: 700;
  display: block;
  width: 100%;
  font-size: 2.7vw;
}

.acceuil .titres h2 {
  margin-top: 50px;
  font-size: 2vw;
}

.acceuil .titres {
  width: 80%;
  height: 40%;
  margin: 10% 10%;
}

.acceuil .titres #realOops {
  width: 15vw;
  height: auto;
  margin-top: 30px;
}

.acceuil .titres #mouse {
  width: 5vw;
  height: auto;
  margin-top: 20px;
}

.acceuilEntreprise {
  background: #2394cc;
  height: 20vw;
  width: 100%;
  z-index: -1;
  color: #ffffff;
  text-align: center;
}

.acceuilEntreprise h1 {
  padding-top: 10vw;
  font-size: 5vw;
}

.acceuilRevendeur {
  background: #ff8b70;
  height: 19vw;
  width: 100%;
  z-index: -1;
  color: #ffffff;
  text-align: center;
}

.acceuilRevendeur h1 {
  padding-top: 10vw;
  font-size: 5vw;
}


/*************

Oops et chemin

**************/

#herve {
  position: fixed;
  top: 30vw;
  right: 50%;
  width: 4vw;
  margin-right: -1.8vw;
}

#fond {
  width: 100%;
  position: absolute;
  top: 99%;
  left: 0;
  z-index: -1;
  right: 0;
}

#herve2 {
  position: fixed;
  top: 25vw;
  right: 50%;
  width: 4vw;
  margin-right: -1.8vw;
}

#fond2 {
  width: 100%;
  position: absolute;
  top: 21vw;
  left: 0;
  z-index: -1;
  right: 0;
}

#fond3 {
  width: 100%;
  position: absolute;
  top: 20vw;
  left: 0;
  z-index: -1;
  right: 0;
}


/***************

Presentation

****************/

.pres section {
  text-align: center;
  color: #ffffff;
  margin-top: 5vw;
  z-index: 50;
}

.pres section h2 {
  font-size: 2.5vw;
  width: 80%;
  margin: 0% 10%;
  margin-bottom: 50px;
  padding: 0px 50px;
}

.pres section img {
  width: 20vw;
}

.pres2 section {
  text-align: center;
  color: #ffffff;
  margin-top: 5vw;
  z-index: 50;
}

.pres2 section h2 {
  font-size: 2.5vw;
  width: 80%;
  margin: 0% 10%;
  margin-bottom: 50px;
  padding: 0px 50px;
}

.pres2 section img {
  width: 14vw;
}

.pres3 section {
  text-align: center;
  color: #ffffff;
  margin-top: 2vw;
  z-index: 50;
}

.pres3 section h2 {
  font-size: 2.5vw;
  width: 80%;
  margin: 0% 10%;
  margin-bottom: 50px;
  padding: 0px 50px;
}

.pres3 section img {
  width: 14vw;
}

#madeInFrance {
  margin-top: 70%;
}

#cadeau {
  margin-top: 15%;
}

#devis {
  padding-top: 20vw;
}

#devis h2 {
  margin-bottom: 0;
}

#devis2 {
  padding-top: 5vw;
}

#devis2 h2 {
  margin-bottom: 1vw;
}

#clikCollect {
  margin-top: 23%;
}

#portee h2 {
  margin-bottom: 80px;
}

.red {
  width: 100%;
  height: 80vw;
  background: #ff8b70;
  margin-top: -3vw;
  z-index: -1000;
  display: none;
}

.blue {
  width: 100%;
  height: 80vw;
  background: #2394CC;
  margin-top: -3vw;
  z-index: -1000;
  display: none;
}


/***************

Section pro

**************/

#pro {
  margin-top: 2vw;
}

#pro h2 {
  margin-bottom: 1vw;
}

#pro div {
  font-size: 1.7vw;
}

#buttons {
  margin-top: 2vw;
}

#buttons a {
  padding: 1.5vw 2vw;
  border-bottom: solid #2c9d95 4px;
  color: #ffffff;
  transition: all ease 0.3s;
  background: none;
  font-size: 1.5vw;
  background: #3eccc2;
  border-radius: 5px;
}

#buttons a:hover {
  border-bottom: solid #3eccc2 4px;
  text-decoration: none;
  transition: all ease 0.3s
}

#click {
  margin-top: 20px;
  width: 40px;
}


/***************

Media queries

***************/

@media screen and (max-device-width: 1025px) {
  .acceuil .titres {
    width: 90%;
    margin: 50vw 5%;
  }
  .acceuil .titres h1 {
    font-size: 5vw;
  }
  .acceuil .titres h2 {
    font-size: 4vw;
  }
  .acceuil .titres #mouse {
    width: 6vw;
  }
  .acceuilRevendeur h1 {
    font-size: 7vw;
  }
  #pro div {
    font-size: 3vw;
  }
  #buttons a {
    font-size: 4vw;
  }
  .acceuilEntreprise h1 {
    font-size: 7vw;
  }
  .pres section {
    margin-top: 3vw;
  }
  #madeInFrance {
    margin-top: 160%;
  }
  #herve {
    top: 50%;
  }
  .pres section h2 {
    font-size: 2.5vw;
    width: 80%;
    margin: 0% 10%;
    margin-bottom: 1vw;
    padding: 0px 50px;
  }
  .red {
    display: block;
    margin-top: 5vw;
  }
  .blue {
    display: block;
    margin-top: 3vw;
  }
  header .citation{
    display:none;
  }
  header img{
    width:50%;
  }
}

@media screen and (max-device-width: 480px) {
  .acceuil .titres {
    width: 90%;
    margin: 55vw 5%;
  }
  .acceuil .titres h1 {
    font-size: 5vw;
  }
  .acceuil .titres h2 {
    font-size: 4vw;
  }
  .acceuil .titres #mouse {
    width: 6vw;
  }
  .acceuilRevendeur h1 {
    font-size: 7vw;
  }
  #pro div {
    font-size: 3vw;
  }
  #buttons a {
    font-size: 4vw;
  }
  .acceuilEntreprise h1 {
    font-size: 7vw;
  }
  .pres section {
    margin-top: 0vw;
  }
  #madeInFrance {
    margin-top: 170%;
  }
  #herve {
    top: 80%;
  }
  .pres section h2 {
    font-size: 3.2vw;
    width: 80%;
    margin: 0% 10%;
    margin-bottom: 1vw;
    padding: 0px 50px;
    font-weight: 700;
  }
  .pres2 section h2 {
    font-size: 3.2vw;
    width: 80%;
    margin: 0% 10%;
    margin-bottom: 1vw;
    padding: 0px 50px;
    font-weight: 700;
  }
  .pres3 section h2 {
    font-size: 3.2vw;
    width: 80%;
    margin: 0% 10%;
    margin-bottom: 1vw;
    padding: 0px 50px;
    font-weight: 700;
  }
  .pres section h2 strong {
    font-weight: 900;
  }
  #devis div {
    font-size: 2.7vw;
  }
  #devis h2 {
    font-size: 3.2vw;
  }
  #devis2 div {
    font-size: 2.7vw;
  }
  #devis2 h2 {
    font-size: 3.2vw;
  }
  .red {
    display: block;
    height: 70vw;
    margin-top: -5vw;
  }
  .blue {
    display: block;
    height: 100vw;
    margin-top: -5vw;
  }
}

@media screen and (min-width: 1800px) {
  #madeInFrance {
    margin-top: 80%;
  }
  .pres section {
    margin-top: 7vw;
  }
  .pres2 section {
    text-align: center;
    color: #ffffff;
    margin-top: 10vw;
  }
}