body {
  font-family: 'oxfam_tstar_proregular', 'Arial', sans-serif;
  margin: 0;
  min-height: 100%;
  overflow-x: none;
}

.clearBoth {
  clear: Both;
}

.block {
  display: block;
  margin: auto;
}


/*************

header

*************/

header {
  width: 100%;
  z-index: 30;
  position: fixed;
  background: #ffffff;
  top: 0;
}

header p {
  padding-top: 13px;
}

header img {
  margin-left: 50px;
  width: 60px;
  float: left;
}

header ul {
  list-style: none;
  text-align: right;
  margin-top: 20px;
}

header span {
  color: #cd110f;
  font-size: 12px;
  display: block;
  margin-top: 20px;
  float: left;
  line-height: 14px;
}

header ul li {
  display: inline-block;
}

header ul li a {
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 50px;
  font-size: 16px;
  transition: all ease 0.3s;
  text-decoration: none;
}

header ul li a:hover {
  color: #cd110f;
  text-decoration: none;
}


/***********

acceuil

***********/

.acceuil {
  z-index: 20;
  background: #FFC393;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  color: #ffffff;
}

.acceuil .titres h1 {
  font-weight: 700;
  display: block;
  width: 100%;
  font-size: 2.7vw;
}

.acceuil .titres h2 {
  margin-top: 50px;
  font-size: 2vw;
}

.acceuil .titres {
  width: 80%;
  height: 40%;
  margin: 10% 10%;
}

.acceuil .titres #realOops {
  width: 15vw;
  height: auto;
  margin-top: 30px;
}

.acceuil .titres #mouse {
  width: 5vw;
  height: auto;
  margin-top: 20px;
}

.acceuilEntreprise {
  background: #2394cc;
  height: 20vw;
  width: 100%;
  z-index: -1;
  color: #ffffff;
  text-align: center;
}

.acceuilEntreprise h1 {
  padding-top: 10vw;
  font-size: 5vw;
}

.acceuilRevendeur {
  background: #ff8b70;
  height: 19vw;
  width: 100%;
  z-index: -1;
  color: #ffffff;
  text-align: center;
}

.acceuilRevendeur h1 {
  padding-top: 10vw;
  font-size: 5vw;
}


/*************

Oops et chemin

**************/

#herve {
  position: fixed;
  top: 30vw;
  right: 50%;
  width: 4vw;
  margin-right: -1.8vw;
}

#fond {
  width: 100%;
  position: absolute;
  top: 99%;
  left: 0;
  z-index: -1;
  right: 0;
}

#nuages {
  width: 100%;
  position: absolute;
  top: 99%;
  left: 0;
  z-index: 100;
  right: 0;
}

#herve2 {
  position: fixed;
  top: 25vw;
  right: 50%;
  width: 4vw;
  margin-right: -1.8vw;
}

#fond2 {
  width: 100%;
  position: absolute;
  top: 21vw;
  left: 0;
  z-index: -1;
  right: 0;
}

#fond3 {
  width: 100%;
  position: absolute;
  top: 20vw;
  left: 0;
  z-index: -1;
  right: 0;
}


/***************

Presentation

****************/

.pres section {
  text-align: center;
  color: #ffffff;
  margin-top: 5vw;
}

.pres section h2 {
  font-size: 2.5vw;
  width: 80%;
  margin: 0% 10%;
  margin-bottom: 50px;
  padding: 0px 50px;
}

.pres section img {
  width: 20vw;
}

.pres2 section {
  text-align: center;
  color: #ffffff;
  margin-top: 0vw;
}

.pres2 section h2 {
  font-size: 2.5vw;
  width: 80%;
  margin: 0% 10%;
  margin-bottom: 50px;
  padding: 0px 50px;
}

.pres2 section img {
  width: 14vw;
}

#madeInFrance {
  margin-top: 70%;
}

#cadeau {
  margin-top: 25%;
}

#portee h2 {
  margin-bottom: 80px;
}


/**************

nuages parallax

***************/


/***************

Section pro

**************/

#pro {
  margin-top: 2vw;
}

#pro div {
  font-size: 1.7vw;
}

#buttons {
  margin-top: 2vw;
}

#buttons a {
  padding: 1.5vw 2vw;
  border-bottom: solid #2c9d95 5px;
  color: #ffffff;
  transition: all ease 0.3s;
  background: none;
  font-size: 1.5vw;
  background: #3eccc2;
}

#buttons a:hover {
  background: #2c9d95;
  text-decoration: none;
}

#click {
  margin-top: 20px;
  width: 40px;
}

#devis {
  margin-top: 0;
}

#devis h2 {
  margin-bottom: 0;
}


/***************

Media queries

***************/

@media screen and (max-device-width: 1025px) {
  .acceuil .titres {
    width: 90%;
    margin: 50vw 5%;
  }
  .pres section {
    margin-top: 3vw;
  }
  #madeInFrance {
    margin-top: 160%;
  }
  #herve {
    top: 50%;
  }
  .pres section h2 {
    font-size: 2.5vw;
    width: 80%;
    margin: 0% 10%;
    margin-bottom: 1vw;
    padding: 0px 50px;
  }
}

@media screen and (max-device-width: 480px) {
  .acceuil .titres {
    width: 90%;
    margin: 55vw 5%;
  }
  .pres section {
    margin-top: 3vw;
  }
  #madeInFrance {
    margin-top: 197%;
  }
  #herve {
    top: 80%;
  }
  .pres section h2 {
    font-size: 2.5vw;
    width: 80%;
    margin: 0% 10%;
    margin-bottom: 1vw;
    padding: 0px 50px;
  }
}

@media screen and (min-width: 1800px) {
  #madeInFrance {
    margin-top: 80%;
  }
  .pres section {
    margin-top: 5vw;
  }
  .pres2 section {
    text-align: center;
    color: #ffffff;
    margin-top: 5vw;
  }
}


/****************

footer

**************/

footer {
  background-color: #ececec;
  padding: 10px;
  text-align: center;
}

.foot {
  border-right: 1px solid black;
}

#all:first-child {
  border-left: 1px solid black;
}

footer div div a {
  color: black;
}

footer div div a:hover {
  color: black;
}