/*-----------------------------------------------------------*/
/*---------------------------general-------------------------*/
/*-----------------------------------------------------------*/

body{
  background-color: #2394cc;
  font-family: 'oxfam_tstar_proregular', sans-serif;
  color: white;
}

.clear{
  clear: both;
}

/*-----------------------------------------------------------*/
/*----------------formulaire de devis -----------------------*/
/*-----------------------------------------------------------*/

.inputDevis{
  visibility: hidden;
  background: none;
  border-bottom: 2px solid ghostwhite;
  width: 300px;
  margin-bottom:20px;
  outline: none;
  float: right;
}


.apparaitre{
visibility: visible;
  border: none;
  background: none;
  border-bottom: 2px solid ghostwhite;
  width: 300px;
  margin-bottom:20px;
  outline: none;
}

.apparaitreB{
  visibility: visible;
   width: 220px;
  float: left;
  color: ghostwhite;
}

.labelDevis{
  visibility: hidden;
  width: 220px;
  float: left;
  color: ghostwhite;
}


.bouton{
  color: #2394cc;
  padding: 10px;
  background-color:white;
  border: none;
  display: block;
  float: none;
  width: 120px;
  height: 50px;
  margin-top: 30px;
  font-size: 20px;
  box-shadow: inset 0.3px 0.3px 9px 0.3px #656565;
  border-radius: 5px; 
  margin-left: 300px;
}

.bouton:hover{
  background-color:#2394cc;
  color:white;
  box-shadow: inset 0.3px 0.3px 9px 0.3px white;

}

#forme{
  margin-top: 50px;
  width: 600px;
  margin: auto;
  margin-top: 300px;
}

/*-----------------------------------------------------------*/
/*--------------formulaire de connexion ---------------------*/
/*-----------------------------------------------------------*/

.inputConnexion{
  display: block;
  border: none;
  background: none;
  border-bottom: 2px solid ghostwhite;
  width: 300px;
  margin-bottom:50px;
  outline: none;
  
}


.boutonConnexion{
  color: #2394cc;
  padding: 10px;
  background-color:white;
  border: none;
  display: block;
  float: none;
  height: 50px;
  margin-top: 30px;
  font-size: 20px;
  box-shadow: inset 0.3px 0.3px 9px 0.3px #656565;
  border-radius: 5px; 
  margin: auto;

}

.boutonConnexion:hover{
  background-color:#2394cc;
  color:white;
  box-shadow: inset 0.3px 0.3px 9px 0.3px white;

}

#formConnexion{
  width: 310px;
  margin: auto;
  margin-top: 350px;
}

#indicationConnexion{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
    top: px;
  left: 400px;
}

/*-----------------------------------------------------------*/
/*----------------administration des devis-------------------*/
/*-----------------------------------------------------------*/

.corps{
  
  border: 5px white solid ;
  border-top: 30px white solid ;
  width: 650px;
  height : 450px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  
  
}

.objet a{
 color: white;
  text-decoration: none;
  font-size: 40px;
}

.secondaire a{
  
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.boutonSUP{
  color: #2394cc;
  background-color:white;
  border: none;
  display: block;
  float: none;
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px; 
  margin-left: 180px;
  margin-top: 10px;
  float: left;
 
}


.boutonREP{
  color: #2394cc;
  background-color:white;
  border: none;
  display: block;
  float: none;
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px; 
  margin-right: 180px;
  margin-top: 10px;
  float: right;
 
}


/*-----------------------------------------------------------*/
/*---------------------------alerte--------------------------*/
/*-----------------------------------------------------------*/
.alertA{
  font-size: 20px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
}

.messageAlerte{
  
  width: 300px;
  margin: auto;
  margin-top: 350px;
}


/*-----------------------------------------------------------*/
/*---------------------------image---------------------------*/
/*-----------------------------------------------------------*/

/* formulaire de connection */
.girls_brownCo{
  position: fixed;
  top: 220px;
  left: 300px;
  animation-duration: 1.5s;
  animation-delay: 1;
  animation-name: fadeInLeftBig;

}

.homme_affaireCo{
  
  position: fixed;
  top: 220px;
  right: 300px;
  animation-duration: 1s;
  animation-name: fadeInDownBig;
}

.parole{
  background-image: url(../images/noun_332087_cc.svg);
  background-size: cover;
  padding: 100px;
  width: 150px;
  height: 150px;
  font-size: 20px;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 400px;
  animation-duration: 2s;
  animation-name: fadeInDownBig;
  
}

.securite{
  position: fixed;
  top: 470px;
  left: 500px;
  animation-duration: 2s;
  animation-name: fadeInUpBig;
}



/* formulaire de devis */

.jess_blondeDevis{
  position: fixed;
  top: 100px;
  left: 30px;
  animation-duration: 1s;
  animation-name: fadeInUpBig;
}
.marcel_hipsterDevis{
  position: fixed;
  bottom: 22px;
  left: 150px;
  animation-duration: 2s;
  animation-name: fadeInRightBig;
}
.papi_richardDevis{
  position: fixed;
  top: 250px;
  right: 200px;
  animation-duration: 1.5s;
  animation-name: fadeInDownBig;
}

.paroleDevis{
  background-image: url(../images/noun2_332087_cc.svg);
  background-size: cover;
  padding: 100px;
  width: 150px;
  height: 150px;
  font-size: 20px;
  text-align: center;
  position: fixed;
  top: 0px;
  right: 300px;
  animation-duration: 2s;
  animation-name: fadeInDownBig;
  
}

/* message d'erreur */

.mechant{
  
  position: fixed;
  top: 410px;
  left: 570px;
  animation-duration: 2s;
  animation-name: fadeInUpBig;
}

.girls_brownMess{
  position: fixed;
  top: 220px;
  left: 300px;
  animation-duration: 1.5s;
  animation-delay: 1;
  animation-name: fadeInLeftBig;

}

.homme_affaireMess{
  
  position: fixed;
  top: 220px;
  right: 300px;
  animation-duration: 1s;
  animation-name: fadeInDownBig;
}


/* admistration des devis */

.picto1{
  position: fixed;
  top: 20px;
  left: 100px;
  animation-duration: 0.5s;
  animation-name: fadeInLeftBig;
}
.picto2{
    position: fixed;
  top: 140px;
  left: 100px;
  animation-duration: 0.7s;
  animation-name: fadeInLeftBig;
}
.picto3{
    position: fixed;
  top: 260px;
  left: 100px;
  animation-duration: 0.9s;
  animation-name: fadeInLeftBig;
}
.picto4{
    position: fixed;
  top: 380px;
  left: 100px;
  animation-duration: 1.1s;
  animation-name: fadeInLeftBig;
}
.picto5{
    position: fixed;
  top: 500px;
  left: 100px;
  animation-duration: 1.3s;
  animation-name: fadeInLeftBig;
}
.picto6{
    position: fixed;
  top: 620px;
  left: 100px;
  animation-duration: 1.5s;
  animation-name: fadeInLeftBig;
}

.picto7{
  position: fixed;
  top: 20px;
  right: 100px;
  animation-duration: 0.5s;
  animation-name: fadeInRightBig;
}
.picto8{
    position: fixed;
  top: 140px;
  right: 100px;
  animation-duration: 0.7s;
  animation-name: fadeInRightBig;
}
.picto9{
    position: fixed;
  top: 260px;
  right: 100px;
  animation-duration: 0.9s;
  animation-name: fadeInRightBig;
}
.picto10{
    position: fixed;
  top: 380px;
  right: 100px;
  animation-duration: 1.1s;
  animation-name: fadeInRightBig;
}
.picto11{
    position: fixed;
  top: 500px;
  right: 100px;
  animation-duration: 1.3s;
  animation-name: fadeInRightBig;
}
.picto12{
    position: fixed;
  top: 620px;
  right: 100px;
  animation-duration: 1.5s;
  animation-name: fadeInRightBig;