body{
  background-color: #2394cc;
  font-family: 'oxfam_tstar_proregular', sans-serif;
  color: white;
}

.clear{
  clear: both;
}

.corps{
  
  border: 5px white solid ;
  border-top: 30px white solid ;
  width: 650px;
  height : 450px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  
  
}

.objet a{
 color: white;
  text-decoration: none;
  font-size: 40px;
}

.secondaire a{
  
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.boutonSUP{
  color: #2394cc;
  background-color:white;
  border: none;
  display: block;
  float: none;
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px; 
  margin-left: 180px;
  margin-top: 10px;
  float: left;
 
}


.boutonREP{
  color: #2394cc;
  background-color:white;
  border: none;
  display: block;
  float: none;
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px; 
  margin-right: 180px;
  margin-top: 10px;
  float: right;
 
}