/*******************

			GLOBAL

*******************/

body {
	font-family: 'oxfam_tstar_proregular', sans-serif;
	background: #ffffff;
	width: 100%;
}

.clearBoth {
	clear: both;
}

a:hover {
	text-decoration: none;
}





/*******************

			HEADER

*******************/

header {
	width: 100%;
	height: 70px;
	z-index: 1000;
	position: fixed;
}

/*******************

	Header (logo)

*******************/

header p {
	padding-top: 13px;
}

header img {
	margin-left: 50px;
	width: 60px;
	float: left;
}

header span {
	color: #cd110f;
	font-size: 12px;
	display: block;
	margin-top: 20px;
	float: left;
	line-height: 14px;
}

.bgBlank {
	background: #ffffff;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 60px;
}

/*******************

	Header (menu)

*******************/

header .menuNormal {
	list-style: none;
	text-align: left;
	margin-top: 20px;
}

header .menuNormal > li {
	display: inline-block;
	float: right;
}

header .menuNormal > li > a {
	color: #cf1715;
	font-weight: 500;
	text-transform: uppercase;
	margin-right: 50px;
	font-size: 16px;
	transition: all ease 0.3s;
	text-decoration: none;
}

header .menuNormal > li:hover > a {
	font-weight: 700;
}

header .menuNormal > li:hover {
	text-decoration: none;
}

header .menuNormal > li > ul {
	display: none;
	list-style-type: none;
	text-align: left;
	transition: all ease 0.3s;
	background-color: #ffffff;
	padding: 10px;
	margin-left: -50px;
	border-radius: 0px 0px 8px 8px;
	padding-bottom: 10px;
	text-align: center;
}

header .menuNormal > li:hover > ul {
	display: block;
}

.sousMenu li {
	padding: 5px 0;
}

.sousMenu li a {
	text-decoration: none;
	color: #cf1715;
}

.sousMenu li a:hover {
	font-weight: 700;
}

/*******************

	Header (burger)

*******************/

.menuBurger {
	display: none;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
	top: 14px;
	position: absolute;
	z-index: 2;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
	top: 6px;
	position: absolute;
	z-index: 2;
}

.navbar-toggle .icon-bar {
	position: relative;
	top: -2px;
	transition: all 250ms ease-in-out;
	z-index: 2;
	background: color
}

.menuBurger:hover .icon-bar:nth-of-type(1) {
	top: -10px;
	transform: rotate(45deg);
}

.menuBurger:hover .icon-bar:nth-of-type(2) {
	background-color: transparent;
}

.menuBurger:hover .icon-bar:nth-of-type(3) {
	top: 14px;
	transform: rotate(-45deg);
}

.menuBurger:hover .navbar-inverse .navbar-toggle {
	border-color: white;
	background-color: transparent;
	z-index: 2;
}

.navbar-inverse .navbar-toggle {
	border: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #cf1715;
}


@keyframes slideMenu {
	from {
		margin-right: -10%;
		width: 0%;
	}
	to {
		margin-right: 0;
		width: 50%;
	}
}



/*****************

FOOTER

*****************/

footer {
	background-color: #ececec;
	padding: 10px;
	text-align: center;
	margin-top: 40px;
}

.foot {
	border-right: 1px solid black;
}

#all:first-child {
	border-left: 1px solid black;
}

footer div div a {
	color: black;
}

footer div div a:hover {
	color: black;
}



/***************************

		Index.html

***************************/

/*******************

			SLIDER

*******************/

.containerCar{
	margin-top: 40px;
	width: 100%;
	position: relative;
}

.fullwidth {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.slider {
	margin: 0;
}

.slider .slide {
	width: 100%;
	height: 30vw;
}

.slick-prev {
	left: 0;
	background: red;
}

.slick-next {
	right: 0;
	background: red;
}

.slick-dots {
	bottom: 0px;
	margin-left: 0;
	/* Fixes the visible horizontal scroll bar */
}

#slide1 {
	background-image: url(../images/Slide1.png);
	background-size: 100%;
}

#slide2 {
	background-image: url(../images/Slide2.png);
	background-size: 100%;
}

#slide3 {
	background-image: url(../images/Slide3.png);
	background-size: 100%;
}

#slide4 {
	background-image: url(../images/Slide4.png);
	background-size: 100%;
}

/*******************

	SLIDER (Animation oops)

*******************/

#oops {
	height: 300px;
	position: absolute;
	top: 25%;
	left: 45%;
}

div#oops img {
	width: 100%;
}


#oops {
	animation: bounce 10s ease;
	animation-name: floating;
	-webkit-animation-name: floating;
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(8%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(8%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

/*******************

	SLIDER (bouton)

*******************/

.buttonAventure {
	background-color: #ff8b70;
	text-align: center;
	padding: 15px;
	border: none;
	width: 230px;
	border-radius: 3px;
	border-bottom: 4px solid #e8775c;
	transition: all 0.5s ease;
	font-size: 20px;
	position: absolute;
	bottom: 0;
	left: 50%;
	bottom: 30%;
	margin-left: -115px;
	z-index: 10;
}

.buttonAventure:hover {
	transition: all 0.3s ease;
	border-bottom: 4px solid #ff8b70;
}

.buttonDevis {
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #4fd0c7;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
	border: none;
	width: 150px;
	border-radius: 3px;
	border-bottom: 4px solid #3ea9a2;
	transition: all 0.5s ease;
	font-size: 16px;
}

.buttonDevis:hover {
	transition: all 0.3s ease;
	border-bottom: 4px solid #4fd0c7;
}

a.white {
	margin: auto;
	color: white;
}

.trait {
	width: 1px;
	background-color: #4fd0c7;
	height: 320px;
	padding: 0;
	margin: auto;
}

.content {
	margin-top: -5vw;
	background: #f9f9f9;
	border-radius: 5px;
	padding: 30px;
}

#entreprise {
	margin-bottom: 50px;
}


/*************

@MEDIA QUERIES

*************/

@media screen and (max-width:768px){
	.containerCar{
		height:150px;
	}
	
}

@media screen and (max-width:991px) {
		.content {
		width: 100%;
		border-radius: 0;
	}
	.container-fluid {
		padding-right: 0;
		padding-left: 0;
	}
	
	.containerCar{
		margin-bottom: 20px;
	}
	
	.colorH1{
		text-align: center;
		padding-bottom: 10px;
	}
	
	.citation {
		display: none;
	}
	.navbar-toggle {
		display: block;
	}
	.menuNormal {
		display: none;
	}
	.menuBurger {
		list-style: none;
		display: block;
		margin-top: -8px;
	}
	.menuBurger:hover > li > ul {
		display: block;
		animation-name: slideMenu;
		width: 50%;
		animation-duration: 1s;
	}
	.menuBurger > li > ul {
		position: absolute;
		list-style: none;
		top: 0;
		right: 0;
		display: none;
		height: auto;
		background-color: #ffffff;
		padding-top: 50px;
		border-radius: 0px 0px 0px 8px;
		padding-bottom: 10px;
	}
	.menuBurger > li > ul > li {
		padding: 10px 0;
		transition: all 0.5s ease-in-out;
	}
	.menuBurger > li > ul > li > a {
		color: #cf1715;
		transition: all 0.3s ease-in-out;
		text-decoration: none;
	}
	.menuBurger > li > ul > li:hover > a {
		font-weight: 700;
	}
	.menuBurger > li > ul > li > ul {
		padding-bottom: 10px;
		padding-left: 2px;
		margin: 0;
		display: none;
	}
	.menuBurger > li > ul > li:hover > ul {
		display: block;
		list-style: none;
	}
	.menuBurger > li > ul > li > ul > li > a {
		color: #cf1715;
	}
	.menuBurger > li > ul > li > ul > li {
		padding-top: 15px;
	}
	.menuBurger > li > ul > li > ul > li:hover > a {
		font-weight: 700;
	}
}




/***************************

		devisEntreprise.php

***************************/


body {
	margin: 0;
	font-size:16px;
}

body#entreprise{
	background-color :#2394cc;
}

#entreprise
{
	color:#2394cc;
}

body#revendeur{
	background-color :#FF8B70;
}

#revendeur
{
	color:#FF8B70;
}


/*************

Map

*************/

#map {
	text-align: center;
	position: relative;
	width: 100%;
	height: 210px;
	background-image: url(../images/map.png);
	background-repeat: repeat;
}

#map p {
	margin: 0;
	padding: 17px 0;
	background-color: white;
	opacity: 0.95;
	font-weight: 500;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size:20px;
}


/*************

Devis

*************/

#forme {
	width: auto;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

#forme h1{
	font-size:35px;
	margin-bottom: 30px;
}


/*************

Label+input

*************/

.initLabel {
	display: inline-block;
	width: auto;
	color: ghostwhite;
	padding-right:5px;
}

.initInput {
	display: inline-block;
	border: none;
	background: none;
	border-bottom: 2px solid ghostwhite;
	width: auto;
	margin-bottom: 20px;
	outline: none;
	font-size:20px;
	font-size:16px;
}


/*************

Hidden

*************/

.inputDevis {
	display: none;
}

.labelDevis {
	display: none;
}


/*************

Show

*************/

.showLabel {
	animation-name: appear;
	animation-duration: 2s;
	display: inline-block;
	padding-right:5px;
	color: ghostwhite;
}

.showInput {
	animation-name: appear;
	animation-duration: 2s;
	display: inline-block;
	border: none;
	background: none;
	border-bottom: 2px solid ghostwhite;
	width: auto;
	margin-bottom: 20px;
	outline: none;
	font-size:16px;
}


/*************

Bouton

*************/

.bouton {
	display: none;
}

.showBouton {
	animation-name: appear;
	animation-duration: 2s;
	display: block;
	padding: 10px;
	background-color: white;
	border: none;
	width: 120px;
	height: 50px;
	margin: auto;
	margin-top: 20px;
	border-radius: 3px;
	border-bottom: 4px solid #dbdbdb;
	transition: all 0.5s ease;
	font-size:16px;
}

.showBouton:hover {
	transition: all 0.3s ease;
	border-bottom: 4px solid #FFFFFF;
}


/*************

Animation appear

*************/

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 100%;
	}
}